/* src/App.css */

/* General Styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

/* Centering the Content */
.App {
  text-align: center;
  padding: 40px 20px;
}

/* Header Styling */
h1 {
  color: #333;
  font-size: 2.8rem;
  margin-bottom: 40px;
  font-weight: 600;
}

/* Shoe List Container */
.ShoeList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Shoe Card Styling */
.Shoe {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 250px;
  text-align: left;
}

.Shoe img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.Shoe h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.Shoe p {
  color: #777;
  font-size: 1.2rem;
  margin: 5px 0;
  font-weight: 500;
}

.Shoe button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

.Shoe button:hover {
  background-color: #ff4500;
}

.Shoe:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
